.comment-container {
    display:flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 1.6rem;
    
}
.user-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.6rem;
  //  margin: 1.25rem 1.6rem;
    //justify-content:space-between;


    img {
        height: 3.2rem;
        width: 3.2rem;
        margin: 0 1.6rem 0 0;
    }
}

.user-info {
    display: flex;
   // justify-content: space-evenly;
    gap: 10px;

    h2 {
        color: var(--grey-800);
        font-weight: 500;
        margin-right: 0.4rem 1.6rem 0rem 0.4rem;

    }
    
}

p{
    line-height: 1.5;
}


.comments-actions{
    display: flex;
    width: 31.1rem;
    height: 4rem;
    //margin: 1.6rem 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.vote-container {
    display: flex;
    width: 10rem;
    height: 4rem;
    //align-self: start;
    justify-content:space-around;
    align-items: center;
    background-color: var(--grey-50);
    border-radius: 1rem;
    font-weight: 500;
    align-content: center;
    //color: var(--purple-200);
    
    button {
        display: flex;
        border: none;
        justify-content: center;
        align-items: center;
        background-color: var(--grey-50);
        
    }
    span:nth-child(2){
        color: var(--purple-600);
        }
    
    
}
.reply-container{
   width: 6.6rem;
    height: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--purple-600);
    font-weight: 500;
    span:nth-child(1){
        color: red;
        margin-right: 0;
    }
  
}

p{
    margin-bottom: 1.6rem;
   // line-height: 3px;
}